.has-primary-background-color {background-color: #003435;}
.has-secondary-background-color {background-color: #00b53a;}
.has-peace-background-color {background-color: #c5f7c4;}
.has-energy-background-color {background-color: #0fbcbc;}
.has-passion-background-color {background-color: #b2f9f7;}
.has-dark-background-color {background-color: #000;}
.has-light-background-color {background-color: #eee;}
.has-grey-background-color {background-color: #777;}

.has-primary-color {color: #003435;}
.has-secondary-color {color: #00b53a;}
.has-peace-color {color: #c5f7c4;}
.has-energy-color {color: #0fbcbc;}
.has-passion-color {color: #b2f9f7;}
.has-dark-color {color: #000;}
.has-light-color {color: #eee;}
.has-grey-color {color: #777;}
