@import 'variables';

// Admin editor styles

body .editor-styles-wrapper {
  @import 'body';
  @import 'body-contents';

  .wp-block {
    max-width: 770px;
  }

  .editor-post-title {
  }
}

// Just pages

body.post-type-page .editor-styles-wrapper {
  @import 'body-contents-page';
}

// Just posts

body.post-type-post .editor-styles-wrapper {
  @import 'body-contents-post';
}
